.mdc-divider {
    display: block;
    width: auto;
    clear: both;
    margin: 0;
    padding: 0;
    border-top: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-list-container > .mdc-divider {
    margin: 0.5rem 0;
}

.mdc-list-group > .mdc-divider.inset {
    margin-inline-start: 4.5rem;

    &.md-56 {
        margin-inline-start: 5.5rem;
    }

    &.md-100 {
        margin-inline-start: 7.25rem;
    }
}