.mdc-dialog-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: var(--z-axis-24-index);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    will-change: opacity, visibility;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: default;
    margin: 0 !important;
    padding: 0 !important;
    pointer-events: none;

    & > *:not(.mdc-dialog) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        cursor: default;
        margin: 0 !important;
        padding: 0 !important;
    }

    &.active {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
    }

    .mdc-dialog {
        min-width: 17.5rem;
        max-width: 35rem;
        width: 17.5rem;
        text-align: initial;
        border-radius: 0.25rem;
        cursor: default;
        background-color: rgb(var(--bg-cards));
        box-shadow: var(--z-axis-24-shadow);
        /* will-change: transform; */
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        .dialog-header {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 1.5rem 1.5rem 0;

            .title {
                font-size: 1.25rem;
                line-height: 2rem;
                letter-spacing: 0.0075em;
                font-weight: 500;
                -ms-flex: 1 1;
                flex: 1 1;
                margin: 0;
            }
        }

        .dialog-body {
            display: block;
            color: rgba(var(--foreground-color), var(--opacity-secondary));
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: 0.03125rem;
            margin-top: 1.25rem;
            padding: 0 1.5rem 1.5rem;
        }

        .mdc-button-group {
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin: 0;
            padding-inline-start: 1.25rem;
            padding-inline-end: 0.5rem;
        }

        &.mdc-full-screen {
            width: 100% !important;
            max-width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            border-radius: 0;
            background-color: rgb(var(--bg-main-content));

            .dialog-header {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: start;
                justify-content: flex-start;
                background-color: rgb(var(--bg-app-bar));
                color: rgba(var(--foreground-color), var(--opacity-primary));
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                height: 4rem;
                padding: 0 1.5rem;
                transition: top 0.6s, box-shadow 0.3s, transform 0.2s, opacity 0.2s, margin 0.3s;
                z-index: var(--z-axis-4-index);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                & > .material-icon {
                    margin-inline-end: 1.25rem;
                }

                .title {
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -ms-flex-align: center;
                    align-items: center;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    letter-spacing: 0.0125em;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    z-index: 1;
                }
            }

            .dialog-body {
                margin-top: 4rem;
                padding: 1.5rem;
                max-height: calc(100% - 4rem) !important;
                height: 100%;
                overflow-y: auto;
            }
        }
    }

    &:not(.active) {
        .mdc-dialog {
            -ms-transform: scale(1.12);
            -webkit-transform: scale(1.12);
            transform: scale(1.12);
        }
    }
}

/* Custom breakpoint for dialogs only!! */
/* MIN WIDTH = 17.5rem */
/* MAX WIDTH = 3.5rem * 12 */
/* width must be a multiple of 3.5rem */
/* MIN MARGINS = 40 Left, 40 Right */
@media (min-width: 26rem) {
    .mdc-dialog-container .mdc-dialog {
        width: 21rem;
    }
}

@media (min-width: 29.5rem) {
    .mdc-dialog-container .mdc-dialog {
        width: 24.5rem;
    }
}

@media (min-width: 33rem) {
    .mdc-dialog-container .mdc-dialog {
        width: 28rem;
    }
}

@media (min-width: 36.5rem) {
    .mdc-dialog-container .mdc-dialog {
        width: 31.5rem;
    }
}

@media (min-width: 40rem) {
    .mdc-dialog-container .mdc-dialog {
        width: 35rem;
    }
}