.mdc-tabs-group {
    &:not(.scrollable) {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        align-items: stretch;
    }
    
    &.align-start {
        justify-content: start;
    }
    
    &.align-end {
        justify-content: end;
    }

    .mdc-tabs {
        height: auto;
        position: relative;
        display: flex;
        flex: 0 0 auto;
        transform: none;
        will-change: transform;
    }

    &.full-width {
        .mdc-tabs {
            flex-grow: 1;
        }
    }

    &.scrollable {
        .mdc-tabs {
            .os-content {
                height: auto;
                position: relative;
                display: flex;
                flex: 1 0 auto;
                transform: none;
                will-change: transform;
            }

            .os-scrollbar {
                display: none;
            }
        }
    }
}

.mdc-tabs {
    .tab-item {
        font-size: 0.875rem;
        height: 3rem;
        font-weight: 500;
        letter-spacing: 0.0892857143em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1.5rem 0.125rem;
        position: relative;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        border: none;
        outline: none;
        background: none;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

        &:not(.active) {
            --foreground-color: var(--initial-foreground-color);
        }

        &.disabled, &[disabled], &:disabled {
            --foreground-color: var(--initial-foreground-color) !important;
        
            cursor: default !important;

            &::before {
                display: none;
            }

            .icon, .title {
                color: rgba(var(--foreground-color), var(--opacity-hint)) !important;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            will-change: opacity;
            transition: all 0.2s;
            background-color: rgb(var(--foreground-color));
            opacity: 0;
        }

        &:hover::before {
            opacity: var(--opacity-hover);
        }

        &:focus::before {
            opacity: var(--opacity-focus);
        }
        
        &:active::before {
            opacity: var(--opacity-pressed);
        }
        
        &:active::before {
            opacity: var(--opacity-pressed);
        }

        .icon, .title {
            color: rgba(var(--foreground-color), var(--opacity-secondary));
            line-height: 1;
        }

        .icon + .title {
            margin-inline-start: 0.5rem;
            margin-inline-end: 0;
        }

        &.active {
            .icon, .title {
                color: rgb(var(--foreground-color));
            }
        }
    }

    &.stacked {
        .tab-item {
            flex-direction: column;
            height: 4.5rem;

            .title {
                margin: 0.375rem 0 0.25rem;
            }
        }
    }

    .ink-bar {
        position: absolute;
        inset-inline-start: 0;
        inset-inline-end: auto;
        bottom: 0;
        width: 0;
        height: 0.125rem;
        will-change: left, right, width;
        pointer-events: none;
        background-color: rgb(var(--foreground-color));
    }

    &.animate {
        .ink-bar {
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

/* .mdc-tabs .tab-item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0.125rem;
    z-index: 0;
    will-change: opacity;
    transition: all 0.2s;
    background-color: rgb(var(--foreground-color));
    opacity: 0;
}

.mdc-tabs .tab-item.active::after {
    opacity: 1;
} */

.mdc-tabs-pages {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .tab-page {
        width: 100%;
        min-height: 100%;
        flex: 0 0 100%;
        position: relative;
        top: 0;
        inset-inline-start: 0;
        inset-inline-end: auto;
        padding: 1rem;
        margin: 0;
        will-change: left, right;
        transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
}
