.mdc-card {
    display: block;
    max-width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: rgb(var(--bg-cards));
    position: relative;
    /*z-index: var(--z-axis-1-index);*/
    box-shadow: var(--z-axis-1-shadow);
    will-change: box-shadow;
    transition: box-shadow 0.3s;
    margin: 0 0 1rem;

    &::before {
        content: '';
        position: relative;
        padding: 0;
        margin: 0 0 -1px;
        display: block;
        width: 100%;
        height: 1px;
        pointer-events: none;
    }

    &::after {
        content: '';
        position: relative;
        padding: 0;
        margin: -1px 0 0;
        display: block;
        width: 100%;
        height: 1px;
        pointer-events: none;
    }

    &.resting {
        z-index: var(--z-axis-0-index);
        box-shadow: 0 0 0 0.0625rem;
    }

    &.raised {
        &:hover {
            z-index: var(--z-axis-8-index);
            box-shadow: var(--z-axis-8-shadow);
        }
    }

    & > .mdc-card-primary {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        color: rgba(var(--foreground-color), var(--opacity-primary));
    
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &::after {
            content: '';
            position: relative;
            padding: 0;
            margin: -1px 0 0;
            display: block;
            width: 100%;
            height: 1px;
            pointer-events: none;
        }
    }

    & > .interactive.mdc-card-primary,
    & > a.mdc-card-primary,
    & > button.mdc-card-primary {
        cursor: pointer;
        text-align: inherit;
        text-decoration: none;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            pointer-events: none;
            will-change: opacity;
            transition: all 0.2s;
            background-color: rgb(var(--foreground-color));
            opacity: 0;
            z-index: 99;
            border-radius: 0.25rem;
        }

        &:hover::before {
            opacity: var(--opacity-hover);
        }

        &:focus::before {
            opacity: var(--opacity-focus);
        }

        &:active::before {
            opacity: var(--opacity-pressed);
        }
    }

    .card-header {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;

        .thumbnail {
            width: 2.5rem;
            height: 2.5rem;
            -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
            border-radius: 100%;
            margin: 1rem;
            margin-inline-end: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &.md-80 {
                width: 5rem;
                height: 5rem;
                -ms-flex: 0 0 5rem;
                flex: 0 0 5rem;
                border-radius: 0;
            }

            &.md-120 {
                width: 7.5rem;
                height: 7.5rem;
                -ms-flex: 0 0 7.5rem;
                flex: 0 0 7.5rem;
                border-radius: 0;
            }

            &.md-160 {
                width: 10rem;
                height: 10rem;
                -ms-flex: 0 0 10rem;
                flex: 0 0 10rem;
                border-radius: 0;
            }
        }

        .title {
            margin: 1rem 1rem 0.75rem;

            .mdt-overline {
                margin: 0 0 0.8em;
            }

            h1, h2, h3, h4, h5, h6, .mdt-h1, .mdt-h2, .mdt-h3, .mdt-h4, .mdt-h5, .mdt-h6 {
                margin: 0 0 0.15em;
            }

            .mdt-subtitle, .mdt-subtitle-1, .mdt-subtitle-2 {
                color: rgba(var(--foreground-color), var(--opacity-secondary));
            }
        }

        .title + .thumbnail {
            margin: 1rem;
            margin-inline-start: auto;
        }

        &:last-child {
            .title, .thumbnail {
                margin-bottom: 0 !important;
            }
        }
    }

    .media {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        padding-top: 56.25%;

        &.md-1by1 {
            padding-top: 100%;
        }
    }

    .supporting-text {
        margin: 1rem;
        color: rgba(var(--foreground-color), var(--opacity-secondary));
    }

    & > .mdc-button-group {
        padding: 0;
        margin: 0.25rem 0.25rem;

        .mdc-button, .mdc-toggle-buttons {
            margin: 0.25rem 0.25rem;
        }
    }

    & > .mdc-card-primary:first-child, .card-header:first-child, .media:first-child, .supporting-text:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    & > .mdc-card-primary:last-child, & > .mdc-button-group:last-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}