.mdc-sheets-side {
    position: fixed;
    top: 0;
    bottom: 0;
    inset-inline-end: -20rem;
    inset-inline-start: auto;
    width: 20rem;
    max-width: calc(100% - 3.5rem);
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(var(--bg-cards));
    z-index: var(--z-axis-8-index);
    box-shadow: var(--z-axis-8-shadow);
    border-inline-start: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
    border-inline-end: none;
    will-change: top, inset-inline-end, inset-inline-start;
    transition: top 0.3s, inset-inline-end 0.3s, inset-inline-start 0.3s;

    &:not(.active) {
        box-shadow: var(--z-axis-0-shadow) !important;
    }

    &.active {
        inset-inline-end: 0;
    }

    &.fixed {
        z-index: var(--z-axis-0-index);
        box-shadow: var(--z-axis-0-shadow);
    }

    &.modal {
        z-index: var(--z-axis-16-index);
        box-shadow: var(--z-axis-16-shadow);

        &.active + .mdc-sheets-side-scrim {
            visibility: visible;
            opacity: 0.5;
        }
    }

    .body {
        padding: 1rem 1.25rem;
    }

    .header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: 4rem;
        padding: 0 1rem;
    
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .title {
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
            align-items: center;
            font-size: 1.25rem;
            line-height: 2rem;
            letter-spacing: 0.0125em;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .close-action {
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-item-align: start;
            align-self: flex-start;
            -ms-flex-align: center;
            align-items: center;
            height: 4rem;
            margin: 0;
            margin-inline-start: auto;
            padding-inline-start: 1rem;
        }

        & + .body {
            padding-top: 0;
        }
    }
}

mdc-layout {
    &.mdc-top-app-bar-visible {
        .mdc-sheets-side {
            &.fixed {
                top: 4rem;
            }
        }
    }
}

.mdc-sheets-side-scrim {
    position: fixed;
    inset: 0;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    z-index: calc(var(--z-axis-16-index) - 1);
}

@media (min-width: 1280px) {
    body.mdc-sheets-side-fixed {
        margin-inline-end: 20rem !important;
    }
}

@media (max-width: 1279px) {
    .mdc-sheets-side:not(.modal) {
        top: 0 !important;
        z-index: var(--z-axis-8-index) !important;
        box-shadow: var(--z-axis-8-shadow) !important;
    }
}

@media (max-width: 1023px) {
    .mdc-sheets-side:not(.modal) {
        z-index: var(--z-axis-16-index) !important;
        box-shadow: var(--z-axis-16-shadow) !important;
    }

    .mdc-sheets-side.active + .mdc-sheets-side-scrim {
        visibility: visible;
        opacity: 0.5;
    }
}

@media (max-width: 719px) {
    .mdc-sheets-side .header {
        height: 3.5rem;
    }
}