.mdc-data-table {
    overflow: hidden;
    margin: 1rem 0;
    
    .header {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        height: 4rem;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        padding: 0 1rem;
        text-align: inherit;
        border: none;
        color: rgba(var(--foreground-color), var(--opacity-primary));

        .table-title {
            font-size: 1.25rem;
            line-height: 1.5;
            margin: 0;
        }

        .actions {
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-item-align: start;
            align-self: flex-start;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            margin: 0;
            margin-inline-start: auto;
            color: rgba(var(--foreground-color), var(--opacity-secondary));

            .action-item {
                display: -ms-inline-flexbox;
                display: inline-flex;
                margin-inline-start: 1.5rem;
                margin-inline-end: 0;
            }
        }

        .mdc-button-group {
            margin: 0 -0.25rem;
            padding: 0;
        }

        & + .table-container {
            thead, tbody {
                tr {
                    th, td {
                        &:first-child {
                            border-inline: none;
                        }
                    }
                }
            }
        }
    }

    .table-container {
        margin: 0;

        table {
            border: none;
            margin: 0;
            min-width: 100%;
            width: 100%;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: -o-max-content;
            width: max-content;
        }

        thead {
            tr {
                height: 3.0625rem;

                th {
                    font-size: 0.75rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    border: none;
                    padding: 0.75rem 1rem;
                    color: rgba(var(--foreground-color), var(--opacity-secondary));
                    white-space: nowrap;
                    text-align: start;

                    .mdc-checkbox {
                        float: inline-start;
                        margin-block-start: -0.5rem;
                        margin-block-end: -0.5rem;
                        margin-inline-start: -0.5rem;
                        margin-inline-end: 0.25rem;
                    }

                    &:first-child {
                        border-inline-start: none;
                        border-inline-end: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
                    }
                    
                    &.direction-reverse {
                        text-align: end;

                        .column-sort {
                            flex-direction: row-reverse;
                        }
                    }

                    .column-sort {
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin: 0;
                        padding: 0;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -ms-flex-align: center;
                        align-items: center;
                        gap: 0.375rem;
                        color: inherit;
                        will-change: color;
                        transition: color 0.2s;
                        cursor: pointer;
                        position: relative;
                        text-decoration: none;

                        &:hover, &.asc, &.desc {
                            color: rgba(var(--foreground-color), var(--opacity-primary));
                        }

                        &::after {
                            content: 'arrow_downward';
                            flex: 0 0 1.125rem;
                            font-size: 1.125rem;
                            height: 1.125rem;
                            width: 1.125rem;
                            opacity: 0;
                            will-change: transform, opacity;
                            transition: transform 0.2s, opacity 0.2s;
                            font-family: 'Material Icons' !important;
                            font-weight: normal;
                            font-style: normal;
                            display: inline-block;
                            line-height: 1;
                            text-transform: none;
                            letter-spacing: normal;
                            word-wrap: normal;
                            white-space: nowrap;
                            direction: ltr;
                        
                            -webkit-font-smoothing: antialiased;
                            text-rendering: optimizeLegibility;
                            -moz-osx-font-smoothing: grayscale;
                            font-feature-settings: 'liga';
                        }

                        &:hover::after {
                            opacity: 1;
                        }

                        &.asc::after {
                            opacity: 1;
                            -ms-transform: scaleY(1);
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                        }

                        &.desc::after {
                            opacity: 1;
                            -ms-transform: scaleY(-1);
                            -webkit-transform: scaleY(-1);
                            transform: scaleY(-1);
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                height: 3.0625rem;
                border-top: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));

                td {
                    font-size: 0.875rem;
                    font-weight: 400;
                    border: none;
                    padding: 0;
                    color: rgba(var(--foreground-color), var(--opacity-primary));
                    white-space: nowrap;
                    text-align: start;

                    &:first-child {
                        border-inline-start: none;
                        border-inline-end: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
                    }
                    
                    &.direction-reverse {
                        text-align: end;
                    }

                    .cell-data {
                        display: block;
                        position: relative;
                        margin: 0;
                        padding: 0 1rem;
                        text-align: inherit;
                        height: 3rem;
                        line-height: 3rem;
                        color: rgba(var(--foreground-color), var(--opacity-primary));

                        &::before {
                            content: '';
                            position: absolute;
                            inset: 0;
                            z-index: 0;
                            will-change: opacity;
                            transition: all 0.2s;
                            background-color: rgb(var(--foreground-color));
                            opacity: 0;
                            pointer-events: none;
                        }

                        .mdc-checkbox {
                            float: inline-start;
                            margin: 0.25rem;
                            margin-inline-start: -0.5rem;
                        }

                        &.action-container {
                            display: -ms-flexbox;
                            display: flex;
                            position: relative;
                            width: 100%;
                            -ms-flex-align: center;
                            align-items: center;
                            -ms-flex-pack: start;
                            justify-content: flex-start;
                            border: none;
                            padding: 0;
                            padding-inline-end: 1rem;

                            .actions {
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                -ms-flex-item-align: start;
                                align-self: flex-start;
                                -ms-flex-align: center;
                                align-items: center;
                                height: 100%;
                                margin: 0;
                                margin-inline-start: auto;
                                color: rgba(var(--foreground-color), var(--opacity-secondary));

                                .action-item {
                                    display: -ms-inline-flexbox;
                                    display: inline-flex;
                                    margin-inline-start: 1.5rem;
                                    margin-inline-end: 0;

                                    .icon {
                                        color: inherit;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &:not(.selected) {
                    --foreground-color: var(--initial-foreground-color);
                }

                &.selected {
                    td {
                        .cell-data {
                            &::before {
                                background-color: rgb(var(--foreground-color));
                                opacity: var(--opacity-selected);
                            }
                        }
                    }
                }

                &.selected, &:hover {
                    td {
                        .cell-data {
                            &::before {
                                opacity: var(--opacity-hover);
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 0;
        padding: 0 1rem;
        text-align: inherit;
        border-top: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
        color: rgba(var(--foreground-color), var(--opacity-secondary));
    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;

        .summary {
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.5rem;
            height: 1.5rem;
            border: none;
            margin: 1rem 0;
            white-space: nowrap;
        }

        .pagination {
            margin-inline-start: 1.25rem;
            margin-inline-end: 0;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-item-align: start;
            align-self: flex-start;
            -ms-flex-align: center;
            align-items: center;
            height: 3.5rem;

            .link {
                display: -ms-inline-flexbox;
                display: inline-flex;
                margin-inline-start: 1.5rem;
                margin-inline-end: 0;

                .icon {
                    color: rgba(var(--foreground-color), var(--opacity-hint));
                }

                a, button {
                    &.icon {
                        color: rgba(var(--foreground-color), var(--opacity-secondary));
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

html[dir="rtl"] .mdc-data-table > .footer > .pagination > .link > .icon,
html[dir] .mdc-data-table[dir="rtl"] > .footer > .pagination > .link > .icon {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}