@if (input?.errors?.['required']) {
    <div>{{ 'VALIDATION.REQUIRED' | translate: { input: (label.toString() | capitalize) } }}</div>
}
@if (input?.errors?.['minlength']) {
    <div>{{ 'VALIDATION.MIN_LENGTH' | translate: { input: (label.toString() | capitalize), length: input.errors?.['minlength']?.requiredLength } }}</div>
}
@if (input?.errors?.['min']) {
    <div>{{ 'VALIDATION.MIN' | translate: { input: (label.toString() | capitalize), min: input?.errors?.['min'].min } }}</div>
}
@if (input?.errors?.['max']) {
    <div>{{ 'VALIDATION.MAX' | translate: { input: (label.toString() | capitalize), max: input?.errors?.['max'].max } }}</div>
}
@if (input?.errors?.['email']) {
    <div>{{ 'VALIDATION.EMAIL' | translate }}</div>
}
@if (input?.errors?.['phone']) {
    <div>{{ 'VALIDATION.PHONE' | translate }}</div>
}
@if (input?.errors?.['exist']) {
    <div>{{ 'VALIDATION.EXIST' | translate: { input: (label.toString() | capitalize) } }}</div>
}
@if (input?.errors?.['percent']) {
    <div>{{ 'VALIDATION.PERCENT' | translate }}</div>
}
@if (input?.errors?.['currency']) {
    <div>{{ 'VALIDATION.CURRENCY' | translate }}</div>
}
@if (input?.errors?.['url']) {
    <div>{{ 'VALIDATION.URL' | translate }}</div>
}
@if (input?.errors?.['password']?.incorrect) {
    <div>{{ 'VALIDATION.INCORRECT_PASSWORD' | translate }}</div>
}
@if (input?.errors?.['password']?.identical) {
    <div>{{ 'VALIDATION.IDENTICAL_PASSWORD' | translate }}</div>
}
@if (input.errors?.['fileType']) {
    <div>{{ 'VALIDATION.FILE_TYPE' | translate: { type: input.errors?.['fileType'].type } }}</div>
}
@if (input.errors?.['fileExtension']) {
    <div>{{ 'VALIDATION.FILE_EXTENSION' | translate: { extension: input.errors?.['fileExtension'].extension } }}</div>
}
@if (input.errors?.['fileSize']) {
    <div>{{ 'VALIDATION.FILE_SIZE' | translate: { size: input.errors?.['fileSize'].size } }}</div>
}