<ng-content></ng-content>

<div class="mdc-datepicker-container inline active" [lang]="locale">
    <div class="mdc-datepicker" [ngClass]="pickerClasses">
        <div class="header">
            <div class="label">Date</div>
            <div class="selected-date">
                <span class="first">{{selectedDate | date: 'E' : null : locale }}, </span>
                <span class="second">{{selectedDate | date: 'MMM d' : null : locale }}</span>
            </div>
        </div>
        <div class="mdc-calendar-controls">
            <div class="selected-month">{{currentMonth | date: 'MMMM y' : null : locale }}</div>
            <button mdc-icon class="dense toggle-years" (click)="toggleYears()">arrow_drop_down</button>
            <div class="month-controls">
                <button mdc-icon [biDirectional]="true" class="dense" (click)="prevMonth()">chevron_left</button>
                <button mdc-icon [biDirectional]="true" class="dense" (click)="nextMonth()">chevron_right</button>
            </div>
        </div>
        <div class="month-days">
            @for (day of weekDays; track day) {
                <div class="week-day">{{day}}</div>
            }

            @if (monthData.startingDay.length > 0) {
                @for (i of monthData.startingDay; track monthData.startingDay.length) {
                    <div class="month-day"></div>
                }
            }
            
            @for (x of monthData.monthDays; track monthData.monthDays.length; let index = $index) {
                <button class="month-day" [class.today]="checkIsToday(index + 1)" [class.active]="checkIsSelected(index + 1)" (click)="selectDate(index + 1)">{{index + 1}}</button>
            }
            
            @for (x of monthData.nextMonthDays; track monthData.nextMonthDays.length; let index = $index) {
                <div class="month-day disabled">{{index + 1}}</div>
            }
        </div>
        <div class="years-list">
            <div class="years-items">
                @for (year of availableYears; track availableYears.length) {
                    <div class="year-box">
                        <button [class.active]="year == currentMonth.getFullYear()" (click)="changeYear(year)">{{year}}</button>
                    </div>
                }
            </div>
        </div>
        <div class="mdc-button-group">
            <button class="mdc-button">Cancel</button>
            <button class="mdc-button">OK</button>
        </div>
    </div>
</div>