<ng-content></ng-content>

<div class="mdc-datepicker-container inline active">
    <div class="mdc-datepicker" [ngClass]="colorClass">
        <div class="header">
            <div class="label">Date</div>
            <div class="selected-date"><span>Thu, </span>Jul 11</div>
        </div>
        <div class="mdc-calendar-controls">
            <div class="selected-month">July 2024</div>
            <button class="material-icon dense toggle-years">arrow_drop_down</button>
            <div class="month-controls"><button class="material-icon dense prev">chevron_left</button>
                <button class="material-icon dense next">chevron_right</button>
            </div>
        </div>
        <div class="month-days">
            <div class="week-day">S</div>
            <div class="week-day">M</div>
            <div class="week-day">T</div>
            <div class="week-day">W</div>
            <div class="week-day">T</div>
            <div class="week-day">F</div>
            <div class="week-day">S</div>

            @if (monthData.startingDay.length > 0) {
                @for (i of monthData.startingDay; track monthData.startingDay.length) {
                    <div class="month-day"></div>
                }
            }
            
            @for (x of monthData.monthDays; track monthData.monthDays.length; let index = $index) {
                <button class="month-day">{{index + 1}}</button>
            }
            <!-- <button class="month-day" data-date="2024-07-02">2</button>
            <button class="month-day today active" data-date="2024-07-11">11</button> -->
            
            @for (x of monthData.nextMonthDays; track monthData.nextMonthDays.length; let index = $index) {
                <div class="month-day disabled">{{index + 1}}</div>
            }
        </div>
        <div class="years-list">
            <div class="years-items">
                <div class="year-box"><button class="year-1924" data-year="1924">1924</button></div>
                <div class="year-box"><button class="year-1925" data-year="1925">1925</button></div>
                <div class="year-box"><button class="year-1926" data-year="1926">1926</button></div>
                <div class="year-box"><button class="year-1927" data-year="1927">1927</button></div>
                <div class="year-box"><button class="year-1928" data-year="1928">1928</button></div>
                <div class="year-box"><button class="year-1929" data-year="1929">1929</button></div>
                <div class="year-box"><button class="year-1930" data-year="1930">1930</button></div>
                <div class="year-box"><button class="year-1931" data-year="1931">1931</button></div>
                <div class="year-box"><button class="year-1932" data-year="1932">1932</button></div>
                <div class="year-box"><button class="year-1933" data-year="1933">1933</button></div>
                <div class="year-box"><button class="year-1934" data-year="1934">1934</button></div>
                <div class="year-box"><button class="year-1935" data-year="1935">1935</button></div>
            </div>
        </div>
        <div class="mdc-button-group">
            <button class="mdc-button close-picker">Cancel</button>
            <button class="mdc-button confirm-date">OK</button>
        </div>
    </div>
</div>