<ng-container *ngIf="type == 'none'">
    <div class="mdc-card-primary">
        <ng-content></ng-content>
    </div>
</ng-container>
<ng-container *ngIf="type == 'button'">
    <button class="mdc-card-primary" (click)="click" [routerLink]="routerLink">
        <ng-content></ng-content>
    </button>
</ng-container>
<ng-container *ngIf="type == 'link'">
    <a class="mdc-card-primary" [href]="href" (click)="click" [routerLink]="routerLink">
        <ng-content></ng-content>
    </a>
</ng-container>