<mdc-menu [openDirection]="openDirection">
    <mdc-text-field mdc-menu-button [staticLabel]="staticLabel" [appearance]="appearance" [label]="label"
        [disabled]="disabled" [control]="control">
        <mdc-icon mdc-icon-element class="trailing">arrow_drop_down</mdc-icon>
        @if (searchable) {
        <input text-input type="text" [value]="selectedLabel" (input)="searchOptions($event)">
        } @else {
        <div text-input>{{ selectedLabel }}</div>
        }
    </mdc-text-field>
    <mdc-list-container mdc-menu-container>
        <div class="mdc-list-container">
            <div class="mdc-list-group">
                @for (item of filteredOptions; track item) {
                <button class="mdc-list-item" (click)="selectOption(item)">
                    <div class="text">{{ item.label }}</div>
                </button>
                } @empty {
                <div class="mdc-list-item mdc-error-message">
                    <div class="text text-hint">{{ notFoundText }}</div>
                </div>
                }
            </div>
        </div>
    </mdc-list-container>
</mdc-menu>