<mdc-menu [openDirection]="openDirection">
    <mdc-text-field mdc-menu-button [staticLabel]="staticLabel" [appearance]="appearance" [label]="label"
        [disabled]="disabled" [control]="control">
        <mdc-icon mdc-icon-element class="trailing">arrow_drop_down</mdc-icon>
        @if (searchable) {
        <input text-input type="text" [value]="selectedLabel" (input)="searchOptions($event)">
        } @else {
        <div text-input>{{ selectedLabel }}</div>
        }
    </mdc-text-field>
    <mdc-list-container mdc-menu-container class="input-menu-container">
        <div mdc-list-group>
            @for (item of filteredOptions; track $index) {
            <button mdc-list-item (click)="selectOption(item)">
                <mdc-list-text>{{ item.label }}</mdc-list-text>
            </button>
            } @empty {
            <div mdc-list-item class="mdc-error-message">
                <mdc-list-text class="text-hint">{{ notFoundText }}</mdc-list-text>
            </div>
            }
        </div>
    </mdc-list-container>
</mdc-menu>