<span *ngIf="input?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate: { input: (label.toString() | capitalize) } }}</span>
<span *ngIf="input?.errors?.['minlength']">{{ 'VALIDATION.MIN_LENGTH' | translate: { input: (label.toString() | capitalize), length: input.errors?.['minlength']?.requiredLength } }}</span>
<span *ngIf="input?.errors?.['min']">{{ 'VALIDATION.MIN' | translate: { input: (label.toString() | capitalize), min: input?.errors?.['min'].min } }}</span>
<span *ngIf="input?.errors?.['max']">{{ 'VALIDATION.MAX' | translate: { input: (label.toString() | capitalize), max: input?.errors?.['max'].max } }}</span>
<span *ngIf="input?.errors?.['email']">{{ 'VALIDATION.EMAIL' | translate }}</span>
<span *ngIf="input?.errors?.['phone']">{{ 'VALIDATION.PHONE' | translate }}</span>
<span *ngIf="input?.errors?.['exist']">{{ 'VALIDATION.EXIST' | translate: { input: (label.toString() | capitalize) } }}</span>
<span *ngIf="input?.errors?.['percent']">{{ 'VALIDATION.PERCENT' | translate }}</span>
<span *ngIf="input?.errors?.['currency']">{{ 'VALIDATION.CURRENCY' | translate }}</span>
<span *ngIf="input?.errors?.['url']">{{ 'VALIDATION.URL' | translate }}</span>
<span *ngIf="input?.errors?.['password']?.incorrect">{{ 'VALIDATION.INCORRECT_PASSWORD' | translate }}</span>
<span *ngIf="input?.errors?.['password']?.identical">{{ 'VALIDATION.IDENTICAL_PASSWORD' | translate }}</span>
<span *ngIf="input.errors?.['fileType']">{{ 'VALIDATION.FILE_TYPE' | translate: { type: input.errors?.['fileType'].fileType } }}</span>
<span *ngIf="input.errors?.['fileExtension']">{{ 'VALIDATION.FILE_EXTENSION' | translate: { extension: input.errors?.['fileExtension'].fileExtension } }}</span>
<span *ngIf="input.errors?.['fileSize']">{{ 'VALIDATION.FILE_SIZE' | translate: { size: input.errors?.['fileSize'] } }}</span>